*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
}
button{
  font-size: 14px;
  font-weight: 600;
  padding: 10px 15px;
  color: black;
  background-color:blue;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

/* header section*/
#header h3{
  font-size: 50px;
  font-weight: bolder;
}
#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color : #C0C0C0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  position: sticky;
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a{
  text-decoration: none;
  color: black;
  transition: 0.3 ease;
  font-size: larger;
  font-weight: bolder;
}
#navbar li a:hover,
#navbar li a .active{
  color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background-color: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
 /*Home page*/
 #main{
  background-image: url(images/main1.jpg);
  width: auto;
  height: 50vh;
  background-size:cover;
  background-position: top 40% right 0;
  padding: 0.80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#main h1{
  align-items: center;
  margin-left: 600px;
  font-size: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#main p{
  align-items: center;
  margin-left: 600px;
  font-size: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box {
  width: 300px;
  padding: 25px;
  box-shadow: 20px 20px 34px rgba(0,0 ,0, 0.03); 
  margin: 15px 0; 
}
#feature .fe-box ul{
  padding: 10px 20px;
  font-size: larger;
  font-weight: bold;
}
#feature .fe-box ul li{
  padding: 5px;
  list-style-type: none;
}
#feature .fe-box ul li a{
  text-decoration: none;
  color: black;
}
#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px;
}
/* About Page */
#sm-banner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
  #sm-banner .banner-box2{
    background-image: url(images/main2.jpg);

}
  /*Tags Page */ 
  .tagsection {
    height: 100px;
    display: inline-block;
    margin-left: 20px;
    padding-top: 20px;
  }
  .tagsection button{
    border-radius: 5px;
    padding: 20px 50px;
    cursor: pointer;
    padding: 10px;
    background-color: gainsboro;
    color: black;
  }
  footer {
    text-align: center;
    padding: 10px;
    background-color: gray;
    color: black;
    font-size: medium;
  }

  @media (max-width: 640px) {
    #header{
      text-align: center;
    }
  
    #navbar {
      flex-direction: column;
    }
  
    #navbar ul {
      flex-direction: column;
    }
  
    #navbar li {
      margin: 0.8em 0;
    }
  }
















 